# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Publish to staging

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build and publish with Gradle
      run: ./gradlew build publishToSonatype closeAndReleaseSonatypeStagingRepository
      env:
        ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.SIGNINGKEYID }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNINGPASSWORD }}
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNINGKEY }}
        ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.STAGINGUSERNAME }}
        ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.STAGINGPASSWORD }}
